body {
    background-color: #F2F6D0
}

.jumbotron {
    text-align: center;
    color: firebrick;
    background-color: teal;
}

.artical {
    margin: 1px;
    background-color: goldenrod;
    color: teal;
    cursor: pointer;
}

.btn {
    color: teal;
    background-color: goldenrod !important;
    margin-left: 20px;
}

.save {
    height: 30px !important;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 35px;
}

.deleteArt {
    height: 30px !important;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 35px;
}

.storage {
    margin: 5px;
    border: 1px solid black;
    padding: 1px;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}